body {
    background-color: #d0cfd3;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
}

header {
    font-size: 25px;
    font-weight: bold;
    height: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

section {
    align-content: center;
    display: inline-block;
}

.gen {
    border: 1px solid #052f5f;
    float: left;
    margin: 10px;
    padding: 0 10px;
    height: 470px;
    width: 700px;
}

section .gen h3 {
    background-color: #052f5f;
    color: white;
    padding: 5px;
}

#table {
    padding: 10px;
}

#table p {
    margin-left: 20px;
}

footer {
    font-size: xx-small;
}

footer #update {
    font-size: small;
}

#confirm {
    font-weight: bold;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}