* {
    box-sizing: border-box;
}

body {
    background-color: #f2f3f8;
    color: black;
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gen {
    flex: 1;
    margin: 10px;
    padding: 15px;
    min-width: 400px;
    max-width: 700px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gen h3 {
    background-color: #052f5f;
    color: white;
    padding: 4px 10px;
    margin-top: 0;
    border-radius: 3px;
}

button {
    border-radius: 3px;
    padding: 6px 15px;
    border: 0;
    background-color: white;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

select {
    border-radius: 3px;
    padding: 6px 15px;
    border: 0;
    background-color: white;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

button:hover {
    background-color: hsl(0, 0%, 97%);
    cursor: pointer;
    transform: translateY(-2px);
}

.gen button {
    background-color: hsl(210, 70%, 60%);
    color: white;
    box-shadow: 0 2px 4px hsla(210, 70%, 60%, 0.5);
}

.gen button:hover {
    background-color: hsl(210, 70%, 54%);
}

button.success {
    background-color: hsl(120, 100%, 72.5%);
    color: black;
    box-shadow: 0 2px 4px hsla(120, 100%, 72.5%, 0.4);
}

button.success:hover {
    background-color: hsl(120, 100%, 83%);
}

#info, #hide {
    display: none;
}

#confirmShare {
    margin-bottom: 0;
}

hr {
    border-top: 0;
}

.row {
    display: flex;
    align-items: center;
}

.row p {
    margin: 0.25em 0;
}

.switch {
    display: inline-block;
    width: 3em;
    height: 1.5em;
    flex-shrink: 0;
    margin-right: 5px;
}

.switch input {
    display: none;
}

.slider {
    display: flex;
    align-items: center;

    height: 100%;
    padding-left: 0.25em;

    background-color: #ccc;
    border-radius: 1em;

    cursor: pointer;
    transition: background-color 0.2s;
}

input:checked + .slider {
    background-color: #5299e0;
}

.slider::before {
    height: 1em;
    width: 1em;

    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px -2px black;
    content: "";

    transition: margin-left 0.2s;
}

input:checked + .slider::before {
    margin-left: 1.5em;
}

#table {
  padding: 10px;
}

#table p {
  margin: 0.5em;
}

footer {
    font-size: xx-small;
}

footer .update {
    font-size: small;
}

.confirm {
    font-weight: bold;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

@media screen and (max-width: 450px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    .gen {
        min-width: initial;
    }
}

/* Dark Theme */

:root[theme="dark"] body {
    background-color: #212121;
    color: white;
}

:root[theme="dark"] .gen {
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

:root[theme="dark"] .gen h3 {
    background-color: hsl(210, 90%, 80%);
    color: #202020;
}

:root[theme="dark"] a:link {
    color: hsl(0, 90%, 72%);
}

:root[theme="dark"] a:visited {
    color: hsl(140, 45%, 65%);
}

:root[theme="dark"] table button {
    background-color: #464646;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

:root[theme="dark"] table select {
    background-color: #464646;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

:root[theme="dark"] table button:hover {
    background-color: #333;
}

:root[theme="dark"] .gen button {
    box-shadow: 0 2px 4px hsla(210, 70%, 60%, 0.25);
}

:root[theme="dark"] button.success {
    background-color: hsl(140, 65%, 65%);
    color: black;
    box-shadow: 0 2px 4px hsla(140, 65%, 65%, 0.25);
}

:root[theme="dark"] button.success:hover {
    background-color: hsl(140, 65%, 72%);
}