body {
    background-color: #36393f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 20px;
    height: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#table {
    padding: 10px;
}

#table p {
    margin-left: 20px;
}